* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: aliceblue;
  height: 100vh;
  width: 100%;
  position: relative;
}

.container {
  display: flex;
  width: 100%;
  height: 125px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.logo {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: pointer;
}
.logo-addict {
  color: rgb(78, 150, 214);
}
.main-nav {
  display: flex;
  font-size: 36px;
  gap: 35px;
  color: rgb(83, 83, 83);
  letter-spacing: 5px;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 25px;
}
.icon-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.facebook {
  background-image: url(icons/icons8-facebook-logo-48.png);
}
.linkedn {
  background-image: url(icons/icons8-linkedin-logo-48.png);
}
.github {
  background-image: url(icons/icons8-github-logo-50.png);
}
.x-twitter {
  background-image: url(icons/icons8-x-logo-50.png);
}
@media (max-width: 1500px) {
  .logo {
    font-size: 30px;
  }
  .main-nav {
    font-size: 24px;
  }
  .icon-background {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1100px) {
  .logo {
    font-size: 22px;
  }
  .main-nav {
    font-size: 16px;
  }
  .icon-background {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 900px) {
  .logo {
    font-size: 36px;
  }
  .main-nav {
    display: none;
  }
  .icons {
    display: none;
  }
}
/* ///////////////////Phone//////////////// */
.hamburger-menu {
  display: flex;
  gap: 7px;
  transition: 0.2s ease;
}
.rotate90 {
  transform: rotate(90deg);
}
.sticks {
  width: 5px;
  height: 35px;
  border-radius: 8px;
  background-color: rgb(78, 150, 214);
}
.phone-main-nav {
  width: 100%;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
  font-size: 30px;
  gap: 35px;
  color: rgb(83, 83, 83);
  letter-spacing: 5px;
  cursor: pointer;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.top {
  position: absolute;
  top: -425px;
}

@media (min-width: 900px) {
  .hamburger-menu {
    display: none;
  }
  .phone-main-nav {
    display: none;
  }
}
